<div class="main">
    <div class="container">
        <img src="/assets/2_Llinen kurta.jpg" alt="">
    </div>

    <br><br>
    <div class="container">
        <div class="row">

            <div class="col-md-3">
                <div class="card">
                    <img [routerLink]="['/Viewkurta']" src="/assets/kurta/1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Kurta</h5>
                        <p class="card-text">&#x20B9; 700</p>
                        <a href="#" class="btn btn-warning " [routerLink]="['/cart']">Add to
                            cart</a>
                    </div>
                </div>
                <br>
            </div>
            <br>

            <div class="col-md-3">
                <div class="card">
                    <img [routerLink]="['/Viewkurta']" src="/assets/kurta/2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Kurta</h5>
                        <p class="card-text">&#x20B9; 700</p>
                        <a href="#" class="btn btn-warning " [routerLink]="['/cart']">Add to
                            cart</a>
                    </div>
                </div>
                <br>
            </div>
            <br>
            <div class="col-md-3">
                <div class="card">
                    <img [routerLink]="['/Viewkurta']" src="/assets/kurta/3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Kurta</h5>
                        <p class="card-text">&#x20B9; 700</p>
                        <a href="#" class="btn btn-warning " [routerLink]="['/cart']">Add to
                            cart</a>
                    </div>
                </div>
                <br>
            </div>
            <br>

            <div class="col-md-3">
                <div class="card">
                    <img [routerLink]="['/Viewkurta']" src="/assets/kurta/4.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Kurta</h5>
                        <p class="card-text">&#x20B9; 700</p>
                        <a href="#" class="btn btn-warning " [routerLink]="['/cart']">Add to
                            cart</a>
                    </div>
                </div>
                <br>
            </div>
            <br>
            
            <div class="col-md-3">
                <div class="card">
                    <img [routerLink]="['/Viewkurta']" src="/assets/kurta/5.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Kurta</h5>
                        <p class="card-text">&#x20B9; 700</p>
                        <a href="#" class="btn btn-warning " [routerLink]="['/cart']">Add to
                            cart</a>
                    </div>
                </div>
                <br>
            </div>
            <br>

            <div class="col-md-3">
                <div class="card">
                    <img [routerLink]="['/Viewkurta']" src="/assets/kurta/6.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Kurta</h5>
                        <p class="card-text">&#x20B9; 700</p>
                        <a href="#" class="btn btn-warning " [routerLink]="['/cart']">Add to
                            cart</a>
                    </div>
                </div>
                <br>
            </div>
            <br>
            <div class="text-center">
                <pagination-controls (pageChange)="pro = $event"></pagination-controls>
            </div>
            <br>
        </div>
    </div>
</div>