<div class="main">
    <div class="container">
        <img src="/assets/banner2.jpg" alt="">
    </div>
    <br>
    <div class="container">
        <div class="row" >
            <div class="col-md-3">
                <div class="card">
                    <img [routerLink]="['/Viewproduct']" src="/assets/shirts/Shirts_ColorBlack.png" class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Paper Cotton Butta</h5>
                        <p class="card-text">&#x20B9; 800</p>
                        <a href="#" class="btn btn-warning " [routerLink]="['/cart']">Add to
                            cart</a>
                    </div>
                </div>
                <br>
            </div>
            <br>
            <div class="col-md-3">
                <div class="card">
                    <img [routerLink]="['/Viewproduct']" src="/assets/shirts/Shirts_ColorBlue.png" class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Paper Cotton Butta</h5>
                        <p class="card-text">&#x20B9; 800</p>
                        <a href="#" class="btn btn-warning " [routerLink]="['/cart']">Add to
                            cart</a>
                    </div>
                </div>
                <br>
            </div> <br>
            <div class="col-md-3">
                <div class="card">
                    <img [routerLink]="['/Viewproduct']" src="/assets/shirts/Shirts_ColorBlack-copy.png"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Paper Cotton Butta</h5>
                        <p class="card-text">&#x20B9; 800</p>
                        <a href="#" class="btn btn-warning " [routerLink]="['/cart']">Add to
                            cart</a>
                    </div>
                </div>
                <br>
            </div> <br>
            <div class="col-md-3">
                <div class="card">
                    <img [routerLink]="['/Viewproduct']" src="/assets/shirts/Shirts_Colorbrownish-red.png"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Paper Cotton Butta</h5>
                        <p class="card-text">&#x20B9; 800</p>
                        <a href="#" class="btn btn-warning " [routerLink]="['/cart']">Add to
                            cart</a>
                    </div>
                </div>
                <br>
            </div> <br>
            <div class="col-md-3">
                <div class="card">
                    <img [routerLink]="['/Viewproduct']" src="/assets/shirts/Shirts_Colordark-Green-.png"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Paper Cotton Butta</h5>
                        <p class="card-text">&#x20B9; 800</p>
                        <a href="#" class="btn btn-warning " [routerLink]="['/cart']">Add to
                            cart</a>
                    </div>
                </div>
                <br>
            </div> <br>
            <div class="col-md-3">
                <div class="card">
                    <img [routerLink]="['/Viewproduct']" src="/assets/shirts/Shirts_ColorRed-shade.png"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Paper Cotton Butta</h5>
                        <p class="card-text">&#x20B9; 800</p>
                        <a href="#" class="btn btn-warning " [routerLink]="['/cart']">Add to
                            cart</a>
                    </div>
                </div>
                <br>
            </div> <br>
        </div><br>
        <div class="text-center">
            <pagination-controls (pageChange)="pro = $event"></pagination-controls>
        </div>
        <br>
    </div>
</div>