<div class="main">
    <div class="container">
        <div class="row">
            <h1 style="text-align: center;"></h1>
            <div class="col-lg-12"><br><br>
                <div class="container">
                    <!-- Pills navs -->
                    <ul class="nav justify-content-center nav-pills mb-3" id="ex1" role="tablist">
                        <li></li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active " id="ex1-tab-1" data-mdb-toggle="pill" href="#ex1-pills-1"
                                style="background-color: gold;" role="tab" type="button" aria-controls="ex1-pills-1"
                                aria-selected="true"><b>All
                                    Designs</b></a>
                        </li>

                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="ex1-tab-2" data-mdb-toggle="pill" href="#ex1-pills-2" role="tab"
                                style="background-color: gold;" type="button" aria-controls="ex1-pills-2"
                                aria-selected="false"><b>Shirts</b></a>
                        </li>

                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="ex1-tab-3" data-mdb-toggle="pill" href="#ex1-pills-3" role="tab"
                                style="background-color: gold;" type="button" aria-controls="ex1-pills-3"
                                aria-selected="false"><b>Kurta</b></a>
                        </li>

                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="ex1-tab-4" data-mdb-toggle="pill" href="#ex1-pills-4" role="tab"
                                style="background-color: gold;" type="button" aria-controls="ex1-pills-4"
                                aria-selected="false"><b>Pants</b></a>
                        </li>

                    </ul>
                    <hr style="color: white;">
                    <!-- Pills navs -->
                    <br>
                    <!-- Pills content -->
                    <div class="tab-content" id="ex1-content">
                        <div class="tab-pane fade show active" id="ex1-pills-1" role="tabpanel"
                            aria-labelledby="ex1-tab-1">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="card">
                                            <img [routerLink]="['/Viewproduct']"
                                                src="/assets/shirts/Shirts_ColorBlack.png" class="card-img-top"
                                                alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">Paper Cotton Butta</h5>
                                                <p class="card-text">&#x20B9; 800</p>
                                                <a href="#" class="btn btn-warning " [routerLink]="['/cart']">Add to
                                                    cart</a>
                                            </div>
                                        </div>
                                        <br>
                                    </div>
                                    <br>

                                    <div class="col-md-3">
                                        <div class="card">
                                            <img [routerLink]="['/Viewproduct']"
                                                src="/assets/shirts/Shirts_ColorBlue.png" class="card-img-top"
                                                alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">Paper Cotton Butta</h5>
                                                <p class="card-text">&#x20B9; 800</p>
                                                <a href="#" class="btn btn-warning " [routerLink]="['/cart']">Add to
                                                    cart</a>
                                            </div>
                                        </div>
                                        <br>
                                    </div> <br>
                                    <div class="col-md-3">
                                        <div class="card">
                                            <img [routerLink]="['/Viewproduct']"
                                                src="/assets/shirts/Shirts_ColorBlack-copy.png" class="card-img-top"
                                                alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">Paper Cotton Butta</h5>
                                                <p class="card-text">&#x20B9; 800</p>
                                                <a href="#" class="btn btn-warning " [routerLink]="['/cart']">Add to
                                                    cart</a>
                                            </div>
                                        </div>
                                        <br>
                                    </div> <br>
                                    <div class="col-md-3">
                                        <div class="card">
                                            <img [routerLink]="['/Viewproduct']"
                                                src="/assets/shirts/Shirts_Colorbrownish-red.png" class="card-img-top"
                                                alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">Paper Cotton Butta</h5>
                                                <p class="card-text">&#x20B9; 800</p>
                                                <a href="#" class="btn btn-warning " [routerLink]="['/cart']">Add to
                                                    cart</a>
                                            </div>
                                        </div>
                                        <br>
                                    </div> <br>
                                    <!-- <div class="col-md-3">
                                        <div class="card">
                                            <img [routerLink]="['/Viewproduct']"
                                                src="/assets/shirts/Shirts_Colordark-Green-.png" class="card-img-top"
                                                alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">Paper Cotton Butta</h5>
                                                <p class="card-text">&#x20B9; 800</p>
                                               <a href="#" class="btn btn-warning " [routerLink]="['/cart']">Add to cart</a>
                                            </div>
                                        </div>
                                        <br>
                                    </div> <br>
                                    <div class="col-md-3">
                                        <div class="card">
                                            <img [routerLink]="['/Viewproduct']"
                                                src="/assets/shirts/Shirts_ColorRed-shade.png" class="card-img-top"
                                                alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">Paper Cotton Butta</h5>
                                                <p class="card-text">&#x20B9; 800</p>
                                               <a href="#" class="btn btn-warning " [routerLink]="['/cart']">Add to cart</a>
                                            </div>
                                        </div>
                                        <br>
                                    </div> <br> -->

                                    <div class="col-md-3">
                                        <div class="card">
                                            <img [routerLink]="['/Viewkurta']" src="/assets/kurta/1.jpg"
                                                class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">Kurta</h5>
                                                <p class="card-text">&#x20B9; 700</p>
                                                <a href="#" class="btn btn-warning " [routerLink]="['/cart']">Add to
                                                    cart</a>
                                            </div>
                                        </div>
                                        <br>
                                    </div>
                                    <br>

                                    <div class="col-md-3">
                                        <div class="card">
                                            <img [routerLink]="['/Viewkurta']" src="/assets/kurta/2.jpg"
                                                class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">Kurta</h5>
                                                <p class="card-text">&#x20B9; 700</p>
                                                <a href="#" class="btn btn-warning " [routerLink]="['/cart']">Add to
                                                    cart</a>
                                            </div>
                                        </div>
                                        <br>
                                    </div>
                                    <br>
                                    <div class="col-md-3">
                                        <div class="card">
                                            <img [routerLink]="['/Viewkurta']" src="/assets/kurta/3.jpg"
                                                class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">Kurta</h5>
                                                <p class="card-text">&#x20B9; 700</p>
                                                <a href="#" class="btn btn-warning " [routerLink]="['/cart']">Add to
                                                    cart</a>
                                            </div>
                                        </div>
                                        <br>
                                    </div>
                                    <br>

                                    <div class="col-md-3">
                                        <div class="card">
                                            <img [routerLink]="['/Viewkurta']" src="/assets/kurta/4.jpg"
                                                class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">Kurta</h5>
                                                <p class="card-text">&#x20B9; 700</p>
                                                <a href="#" class="btn btn-warning " [routerLink]="['/cart']">Add to
                                                    cart</a>
                                            </div>
                                        </div>
                                        <br>
                                    </div>
                                    <br>


                                    <div class="col-md-3">
                                        <div class="card">
                                            <img [routerLink]="['/Viewpants']" src="/assets/pants/1.png"
                                                class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">Armani</h5>
                                                <p class="card-text">&#x20B9; 700</p>
                                                <a href="#" class="btn btn-warning " [routerLink]="['/cart']">Add to
                                                    cart</a>
                                            </div>
                                        </div>
                                        <br>
                                    </div>
                                    <br>
                                    <div class="col-md-3">
                                        <div class="card">
                                            <img [routerLink]="['/Viewpants']" src="/assets/pants/2.png"
                                                class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">Armani</h5>
                                                <p class="card-text">&#x20B9; 700</p>
                                                <a href="#" class="btn btn-warning " [routerLink]="['/cart']">Add to
                                                    cart</a>
                                            </div>
                                        </div>
                                        <br>
                                    </div>
                                    <br>

                                    <div class="col-md-3">
                                        <div class="card">
                                            <img [routerLink]="['/Viewpants']" src="/assets/pants/3.png"
                                                class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">Armani</h5>
                                                <p class="card-text">&#x20B9; 900</p>
                                                <a href="#" class="btn btn-warning " [routerLink]="['/cart']">Add to
                                                    cart</a>
                                            </div>
                                        </div>
                                        <br>
                                    </div>
                                    <br>

                                    <div class="col-md-3">
                                        <div class="card">
                                            <img [routerLink]="['/Viewpants']" src="/assets/pants/4.jpg"
                                                class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">Armani</h5>
                                                <p class="card-text">&#x20B9; 900</p>
                                                <a href="#" class="btn btn-warning " [routerLink]="['/cart']">Add to
                                                    cart</a>
                                            </div>
                                        </div>
                                        <br>
                                    </div>
                                    <br>
                                    <br>
                                </div>
                                <br>
                            </div>
                            <br>
                        </div>

                        <!-- Shirts projrcts -->
                        <div class="tab-pane fade" id="ex1-pills-2" role="tabpanel" aria-labelledby="ex1-tab-2">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="card">
                                            <img [routerLink]="['/Viewproduct']"
                                                src="/assets/shirts/Shirts_ColorBlack.png" class="card-img-top"
                                                alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">Paper Cotton Butta</h5>
                                                <p class="card-text">&#x20B9; 800</p>
                                                <a href="#" class="btn btn-warning " [routerLink]="['/cart']">Add to
                                                    cart</a>
                                            </div>
                                        </div>
                                        <br>
                                    </div>
                                    <br>
                                    <div class="col-md-3">
                                        <div class="card">
                                            <img [routerLink]="['/Viewproduct']"
                                                src="/assets/shirts/Shirts_ColorBlue.png" class="card-img-top"
                                                alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">Paper Cotton Butta</h5>
                                                <p class="card-text">&#x20B9; 800</p>
                                                <a href="#" class="btn btn-warning " [routerLink]="['/cart']">Add to
                                                    cart</a>
                                            </div>
                                        </div>
                                        <br>
                                    </div> <br>
                                    <div class="col-md-3">
                                        <div class="card">
                                            <img [routerLink]="['/Viewproduct']"
                                                src="/assets/shirts/Shirts_ColorBlack-copy.png" class="card-img-top"
                                                alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">Paper Cotton Butta</h5>
                                                <p class="card-text">&#x20B9; 800</p>
                                                <a href="#" class="btn btn-warning " [routerLink]="['/cart']">Add to
                                                    cart</a>
                                            </div>
                                        </div>
                                        <br>
                                    </div> <br>
                                    <div class="col-md-3">
                                        <div class="card">
                                            <img [routerLink]="['/Viewproduct']"
                                                src="/assets/shirts/Shirts_Colorbrownish-red.png" class="card-img-top"
                                                alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">Paper Cotton Butta</h5>
                                                <p class="card-text">&#x20B9; 800</p>
                                                <a href="#" class="btn btn-warning " [routerLink]="['/cart']">Add to
                                                    cart</a>
                                            </div>
                                        </div>
                                        <br>
                                    </div> <br>
                                    <div class="col-md-3">
                                        <div class="card">
                                            <img [routerLink]="['/Viewproduct']"
                                                src="/assets/shirts/Shirts_Colordark-Green-.png" class="card-img-top"
                                                alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">Paper Cotton Butta</h5>
                                                <p class="card-text">&#x20B9; 800</p>
                                                <a href="#" class="btn btn-warning " [routerLink]="['/cart']">Add to
                                                    cart</a>
                                            </div>
                                        </div>
                                        <br>
                                    </div> <br>
                                    <div class="col-md-3">
                                        <div class="card">
                                            <img [routerLink]="['/Viewproduct']"
                                                src="/assets/shirts/Shirts_ColorRed-shade.png" class="card-img-top"
                                                alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">Paper Cotton Butta</h5>
                                                <p class="card-text">&#x20B9; 800</p>
                                                <a href="#" class="btn btn-warning " [routerLink]="['/cart']">Add to
                                                    cart</a>
                                            </div>
                                        </div>
                                        <br>
                                    </div> <br>
                                </div><br>
                                <div class="text-center">
                                    <button class="btn btn-light"> <a class="bttn " [routerLink]="['/shirts']"
                                            (click)="scroll()">
                                            <h4>More Shirt's Collection</h4>
                                        </a></button>
                                </div>
                                <br>
                            </div>
                            <br>
                        </div>
                        <!-- Shirts project end -->

                        <!-- Kurta project start -->
                        <div class="tab-pane fade" id="ex1-pills-3" role="tabpanel" aria-labelledby="ex1-tab-3">
                            <div class="container">
                                <div class="row">

                                    <div class="col-md-3">
                                        <div class="card">
                                            <img [routerLink]="['/Viewkurta']" src="/assets/kurta/1.jpg"
                                                class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">Kurta</h5>
                                                <p class="card-text">&#x20B9; 700</p>
                                                <a href="#" class="btn btn-warning " [routerLink]="['/cart']">Add to
                                                    cart</a>
                                            </div>
                                        </div>
                                        <br>
                                    </div>
                                    <br>

                                    <div class="col-md-3">
                                        <div class="card">
                                            <img [routerLink]="['/Viewkurta']" src="/assets/kurta/2.jpg"
                                                class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">Kurta</h5>
                                                <p class="card-text">&#x20B9; 700</p>
                                                <a href="#" class="btn btn-warning " [routerLink]="['/cart']">Add to
                                                    cart</a>
                                            </div>
                                        </div>
                                        <br>
                                    </div>
                                    <br>
                                    <div class="col-md-3">
                                        <div class="card">
                                            <img [routerLink]="['/Viewkurta']" src="/assets/kurta/3.jpg"
                                                class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">Kurta</h5>
                                                <p class="card-text">&#x20B9; 700</p>
                                                <a href="#" class="btn btn-warning " [routerLink]="['/cart']">Add to
                                                    cart</a>
                                            </div>
                                        </div>
                                        <br>
                                    </div>
                                    <br>

                                    <div class="col-md-3">
                                        <div class="card">
                                            <img [routerLink]="['/Viewkurta']" src="/assets/kurta/4.jpg"
                                                class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">Kurta</h5>
                                                <p class="card-text">&#x20B9; 700</p>
                                                <a href="#" class="btn btn-warning " [routerLink]="['/cart']">Add to
                                                    cart</a>
                                            </div>
                                        </div>
                                        <br>
                                    </div>
                                    <br>
                                </div>
                                <div class="text-center">
                                    <button class="btn btn-light"> <a class="bttn " [routerLink]="['/kurta']"
                                            (click)="scroll()">
                                            <h4>More Kurta Collection</h4>
                                        </a></button>
                                </div>

                                <br>
                            </div>
                        </div>
                        <!-- Kurta project end -->

                        <!-- Pants project start -->
                        <div class="tab-pane fade" id="ex1-pills-4" role="tabpanel" aria-labelledby="ex1-tab-4">
                            <div class="container">
                                <div class="row">

                                    <div class="col-md-3">
                                        <div class="card">
                                            <img [routerLink]="['/Viewpants']" src="/assets/pants/1.png"
                                                class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">Pants</h5>
                                                <p class="card-text">&#x20B9; 900</p>
                                                <a href="#" class="btn btn-warning " [routerLink]="['/cart']">Add to
                                                    cart</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="card">
                                            <img [routerLink]="['/Viewpants']" src="/assets/pants/2.png"
                                                class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">Pants</h5>
                                                <p class="card-text">&#x20B9; 900</p>
                                                <a href="#" class="btn btn-warning " [routerLink]="['/cart']">Add to
                                                    cart</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="card">
                                            <img [routerLink]="['/Viewpants']" src="/assets/pants/3.png"
                                                class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">Pants</h5>
                                                <p class="card-text">&#x20B9; 900</p>
                                                <a href="#" class="btn btn-warning " [routerLink]="['/cart']">Add to
                                                    cart</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="card">
                                            <img [routerLink]="['/Viewpants']" src="/assets/pants/4.jpg"
                                                class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">Pants</h5>
                                                <p class="card-text">&#x20B9; 900</p>
                                                <a href="#" class="btn btn-warning " [routerLink]="['/cart']">Add to
                                                    cart</a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="text-center"><br>
                                    <button class="btn btn-light"> <a [routerLink]="['/pants']" (click)="scroll()">
                                            <h4>More Pant's Collection</h4>
                                        </a></button>
                                </div>
                                <br>
                                <br>

                                <br>
                            </div>
                        </div>
                        <!-- luxury project end -->

                        <div class="text-center">
                            <div class="btn">
                                <button class="btn btn-light"> <a class="bttn" [routerLink]="['/product']"
                                        (click)="scroll()">
                                        <h4>Collection</h4>
                                    </a></button>
                            </div>
                        </div><br>

                        <br>
                    </div>
                    <!-- Pills content -->

                </div>
            </div>
        </div>
    </div>
</div>