<nav class="navbar navbar-expand-lg fixed-top" style="background-color: #11141f;">
    <div class="container">
        <a class="navbar-brand" href=""><img src="/assets/MR 45_Logo-01.png" height="100" width="" alt=""> </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" style="background-color: white;"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ncenter" (click)="closeNavbar()">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" [routerLink]="['']">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" (click)="scroll()" [routerLink]="['/about']">About </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" (click)="scroll()" [routerLink]="['/product']">Collection</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" (click)="scroll()" [routerLink]="['/testimonials']"> Testimonial</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" (click)="scroll()" [routerLink]="['/contact']">Contact </a>
                </li>


            </ul>
        </div>
        <div class="menu">
            <ul class="ul">
                <li>
                    <p>
                        <a href="https://wa.me/+917776060840" target="_blank" data-mdb-toggle="tooltip"
                            data-mdb-placement="top" title="Connect Through Whatsapp ">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                    </p>
                </li>
                <li>
                    <p>
                        <a href="https://www.facebook.com/MR45BRAND/" target="_blank" data-mdb-toggle="tooltip"
                            data-mdb-placement="top" title="Connect Through Whatsapp ">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                    </p>
                </li>
                <li>
                    <p>
                        <a href="https://www.instagram.com/sudarshan_wholesaler/" target="_blank"
                            data-mdb-toggle="tooltip" data-mdb-placement="top" title="Connect Through Whatsapp ">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </p>
                </li>
                <li>
                    <p>
                        <a href="https://youtu.be/qLMdXgQgVwQ?si=MtFVRWkvMudwTTj-" target="_blank"
                            data-mdb-toggle="tooltip" data-mdb-placement="top" title="Connect Through Whatsapp ">
                            <i class="fa-brands fa-youtube"></i>
                        </a>
                    </p>
                </li>
                <li></li>
                <li>
                    <div class="dropdown">
                        <a class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-regular fa-user"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a *ngIf="!isloggedIn" class="dropdown-item  btn btn-info btn-sm" type="button"
                                    [routerLink]="['/register']">Register</a></li>
                            <li><a *ngIf="!isloggedIn" class="dropdown-item  btn btn-info btn-sm" type="button"
                                    [routerLink]="['/login']">Log in</a></li>
                            <li><a class="dropdown-item  btn btn-info btn-sm" type="button" [routerLink]="['/details']">
                                    Profile</a></li>
                        </ul>
                    </div>
                </li>

                <li><a href="" [routerLink]="['/cart']">
                        <i class="fa-solid fa-cart-plus"></i>
                    </a>
                </li>

                <p style="padding-left: 1px;"><a href="" (click)="logout()"> <i class="fa-solid fa-power-off"></i> </a>
                </p>

            </ul>
        </div>
    </div>
</nav>




<!-- <br><br><br><br>
<nav class="navbar navbar-expand-lg " style="background-color: #11141f;">
    <div class="container">
        <a class="navbar-brand" href=""><img src="/assets/logo.png" height="75" alt=""> </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" style="background-color: white;"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0"  >
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" [routerLink]="['']">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" (click)="scroll()" [routerLink]="['/about']">About </a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Products
                    </a>
                    <ul class="dropdown-menu" style="background-color: #11141f; color: white;">
                        <li><a class="dropdown-item" href="" [routerLink]="['/shirts']">Shirts</a></li>
                        <li><a class="dropdown-item" href="" [routerLink]="['/kurta']">Kurta</a></li>
                        <li><a class="dropdown-item" href="" [routerLink]="['/pants']">Pants</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="scroll()" [routerLink]="['/testimonials']"> Testimonial</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" (click)="scroll()" [routerLink]="['/contact']">Contact </a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <ul class="ul">
                    <li>
                        <p>
                            <a href="https://wa.me/+917776060840" target="_blank" data-mdb-toggle="tooltip"
                                data-mdb-placement="top" title="Connect Through Whatsapp ">
                                <i class="fa-brands fa-twitter"></i>
                            </a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="https://www.facebook.com/MR45BRAND/" target="_blank" data-mdb-toggle="tooltip"
                                data-mdb-placement="top" title="Connect Through Whatsapp ">
                                <i class="fa-brands fa-facebook"></i>
                            </a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="https://www.instagram.com/sudarshan_wholesaler/" target="_blank"
                                data-mdb-toggle="tooltip" data-mdb-placement="top" title="Connect Through Whatsapp ">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="https://youtu.be/qLMdXgQgVwQ?si=MtFVRWkvMudwTTj-" target="_blank"
                                data-mdb-toggle="tooltip" data-mdb-placement="top" title="Connect Through Whatsapp ">
                                <i class="fa-brands fa-youtube"></i>
                            </a>
                        </p>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="fa-regular fa-user"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a *ngIf="!isloggedIn" class="dropdown-item  btn btn-info btn-sm" type="button"
                                    [routerLink]="['/register']">Register</a></li>
                            <li><a *ngIf="!isloggedIn" class="dropdown-item  btn btn-info btn-sm" type="button"
                                    [routerLink]="['/login']">Log in</a></li>
                            <li><a class="dropdown-item  btn btn-info btn-sm" type="button" [routerLink]="['/details']">
                                    Profile</a></li>
                        </ul>
                    </li>
                </ul>
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav> -->