<div class="main"><br>
    <div class="container"><br><br>
        <div class="row">

            <div class="col-md-6">
                <h1><b>About MR45</b></h1> <br>
                <p class="p">MR45 is a diversified group with majority business interests in Textile & Apparel sectors
                    and a
                    presence across varying segments such as Consumer Care, Realty and Engineering in national markets.
                </p>
            </div>
            <div class="col-md-6">
                <img src="/assets/banner2.jpg" alt="">
            </div>
        </div>
    </div>

    <br><br>
    <div class="container"> <br>
        <div class="row">
            <h1>The Journey</h1>
            <br>
            <p class="para">MR45 Limited was first incorporated as the MR45 Woolen Mill in 2020 near Pune. Lorem ipsum
                dolor sit
                amet, consectetur adipisicing elit. Saepe labore veritatis tempore accusantium omnis magni nesciunt
                dolores nemo, officiis tempora. Possimus rem repudiandae alias officia culpa doloribus assumenda modi
                doloremque? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus, sunt tenetur. In aliquid
                error nemo quod, excepturi, sunt quisquam deserunt soluta at laudantium delectus maiores exercitationem
                hic alias. Quas, placeat </p>
            <p class="para">MR45 Limited was first incorporated as the MR45 Woolen Mill in 2020 near Pune. Lorem ipsum
                dolor sit
                amet, consectetur adipisicing elit. Saepe labore veritatis tempore accusantium omnis magni nesciunt
                dolores nemo, officiis tempora. Possimus rem repudiandae alias officia culpa doloribus assumenda modi
                doloremque? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus, sunt tenetur. In aliquid
                error nemo quod, excepturi, sunt quisquam deserunt soluta at laudantium delectus maiores exercitationem
                hic alias. Quas, placeat </p>
            <p class="para">MR45 Limited was first incorporated as the MR45 Woolen Mill in 2020 near Pune. Lorem ipsum
                dolor sit
                amet, consectetur adipisicing elit. Saepe labore veritatis tempore accusantium omnis magni nesciunt
                dolores nemo, officiis tempora. Possimus rem repudiandae alias officia culpa doloribus assumenda modi
                doloremque? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus, sunt tenetur. In aliquid
                error nemo quod, excepturi, sunt quisquam deserunt soluta at laudantium delectus maiores exercitationem
                hic alias. Quas, placeat </p>
            <p class="para">MR45 Limited was first incorporated as the MR45 Woolen Mill in 2020 near Pune. Lorem ipsum
                dolor sit
                amet, consectetur adipisicing elit. Saepe labore veritatis tempore accusantium omnis magni nesciunt
                dolores nemo, officiis tempora. Possimus rem repudiandae alias officia culpa doloribus assumenda modi
                doloremque? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus, sunt tenetur. In aliquid
                error nemo quod, excepturi, sunt quisquam deserunt soluta at laudantium delectus maiores exercitationem
                hic alias. Quas, placeat </p>

        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="text-center">
                <h1>Our Values</h1><br><br>
            </div>
            <br>
            <div class="col-md-4">
                <div class="text-center">
                    <i class="fa-regular fa-handshake fa-2xl"></i>
                </div>
                <br>
                <p class="pvalue">The trust bestowed on MR45 by its stakeholders has enabled it to be a market leader.
                    We believe
                    that conducting business in a fair, transparent and ethical manner is pivotal to building strong
                    relationships</p>
                <br>
            </div><br>
            <div class="col-md-4">
                <div class="text-center">
                    <i class="fa-solid fa-ranking-star fa-2xl"></i>
                </div>
                <br>
                <p class="pvalue">An iconic brand that has been at the helm of innovation, MR45 has always been
                    recognised for its
                    high-quality product offerings across price points. The testimony to MR45 success is its loyal
                    consumer base spanning domestic and international markets.</p>
                <br>
            </div><br>

            <div class="col-md-4">
                <div class="text-center">
                    <i class="fa-solid fa-award fa-2xl"></i>
                </div>
                <br>
                <p class="pvalue">At MR45, we believe in achieving excellence in all we do. Be it crafting world-class
                    offerings, implementing industry best practices or delivering a delightful service experience.</p>
                <br>
            </div><br>
        </div>
    </div>
</div>